.main-hero {
  height: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  position: relative;

  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  > .main-section {
    width: 100%;

    flex-grow: 2;
  }

  > .footer {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: .8em;
  }
}
