.main-hero {
  height: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  position: relative;

  > .main-section {
    width: 100%;

    flex-grow: 2;
  }

  > .footer {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
