#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'

  filter :relativize_paths, type: :html
end

compile '/**/*.erb' do
  filter :erb
  layout '/default.*'

  filter :relativize_paths, type: :html
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
compile '/**/*.tex' do
  filter :erb
  filter :xetex
  write ext: 'pdf'
end

compile '/**/*.md', rep: :tex do
  filter :md_to_tex
end

compile '/stylesheets/main.scss' do
  filter :sass, syntax: :scss, style: :compressed
  write ext: 'css'
end
ignore '/stylesheets/**/*'

route '/**/*.{html,md,erb}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
