<div class="bg-gradient">
</div>

<div class="container hero">
  <p class="hero-text">
    Lorin<br />
    Werthen
  </p>
  <div class="icons big">
    <a href="<%= cv_pdf.path %>">
      CV
    </a>
    <a href="http://soundcloud.com/jttrmusic" target="_blank">
      <i class="fa fa-soundcloud"></i>
    </a>
    <a href="http://github.com/werthen" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/werthen/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    <!-- <a href="http://mercurius.werthen.com" target="_blank">
      <i class="fa fa-mercury"></i>
    </a> -->
  </div>
</div>
