@import "_mixins";

html, body {
  height: 100%;

  font-family: 'Lato', sans-serif;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: inherit;
  }

  &:hover, &:active {
    text-decoration: underline;
  }
}

@import "components/main-hero";
@import "components/info-section";
@import "components/main-section";

ul.skills {
  width: 250px;
  li {
    margin: 0;
    display: inline-block;
  }
}

.photo {
  position: absolute;
  right: 0;
  border-radius: 50%;
  width: 35vw;
}
